.pagina-home {
  margin-top: 0 !important;

  .imagem-estatica {
    img {
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      width: 100%;

      height: 100vh;
    }
  }

  .container-principal-home {
    .container-bemvindo {
      display: grid;
      gap: 1.5rem;
    }
    .container-treinamento {
      h2 {
      }

      .conteudo {
        .elemento {
          img {
          }
          h4 {
          }
          span {
          }
        }
      }
    }

    .visualizacao-ebook {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        max-width: 300px;
      }

      button {
        position: absolute;
        bottom: 105px;
      }
    }

    .baixe-ebook {
      h2 {}
      .texto {}
      .enviar-email {}
    }

    .redes {
      img {
        width: 30px;
        height: 30px;
        color: black;
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  .pagina-home {
    .swiper-card {
      max-width: 80vw;
      .swiper-card__image {
        left: -5vw;
      }
      .card-body {
        .swiper-card__texto-container__placeholder {
          width: calc(170px - 5vw);
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .pagina-home {
    .swiper-depoimentos {
      .swiper-card {
        max-height: 100vh;
        .swiper-card__image {
          visibility: hidden;
          display: none;
        }
        .card-body {
          gap: 0;
          .swiper-card__titulo {
            font-size: 1.125rem;
            white-space: normal;
            margin-bottom: 0;
          }
          .swiper-card__texto-container {
            display: grid;
            place-items: center;
            gap: 1em;
            margin-top: 1em;
            max-height: 100%;
            overflow: hidden;

            .swiper-card__texto {
              max-height: unset;
              overflow: visible;
              flex: 1;
            }
          }
          .swiper-card__texto-container__placeholder {
            height: 100%;
            visibility: visible;
            shape-outside: initial;
            float: none;
            border-radius: 5px;
            box-shadow: 0 0 4px -3px rgba(0, 0, 0, 0.8),
              2px 2px 15px -5px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
}
