.pagina-home {
  margin-top: 0 !important;

  .imagem-estatica {
    img {
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      width: 100%;

      height: 100vh;
    }
  }

  .container-principal-home {
    .container-bemvindo {
      display: grid;
      gap: 1.5rem;
    }

    .baixe-ebook {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      gap: 20px;

      margin-top: 100px;
      margin-bottom: 100px;

      h2 {
        color: #1b16c4;
        text-align: center;
      }

      .texto {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }

      .enviar-email {
        display: flex;
        gap: 20px;
        width: 70%;

        input {
          width: 70%;
          height: 50px;

          border: 1px solid #d9d9d9;
          
          background-color: #fff;
          padding: 10px;
        }
        
        button {
          color: #1b16c4;
          background-color: #fff;
          border: 1px solid #d9d9d9;
          width: 15%;
          transition: 0.3s;
        }

        button:hover {
          color: white;
          background-color: #1b16c4;
        }
      }
    }

    .redes {
      img {
        width: 30px;
        height: 30px;
      }

      .rede {
        border-radius: 999px;
      }

      .instagram {
        background-color: #E1306C;
      }

      .tiktok {
        background-color: #FF004F;
      }

      .youtube {
        background-color: #FF0000;
      }
    }

    .contato {
      .sugestao-mensagem {
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  .pagina-home {
    .swiper-card {
      max-width: 80vw;
      .swiper-card__image {
        left: -5vw;
      }
      .card-body {
        .swiper-card__texto-container__placeholder {
          width: calc(170px - 5vw);
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .pagina-home {
    .swiper-depoimentos {
      .swiper-card {
        max-height: 100vh;
        .swiper-card__image {
          visibility: hidden;
          display: none;
        }
        .card-body {
          gap: 0;
          .swiper-card__titulo {
            font-size: 1.125rem;
            white-space: normal;
            margin-bottom: 0;
          }
          .swiper-card__texto-container {
            display: grid;
            place-items: center;
            gap: 1em;
            margin-top: 1em;
            max-height: 100%;
            overflow: hidden;

            .swiper-card__texto {
              max-height: unset;
              overflow: visible;
              flex: 1;
            }
          }
          .swiper-card__texto-container__placeholder {
            height: 100%;
            visibility: visible;
            shape-outside: initial;
            float: none;
            border-radius: 5px;
            box-shadow: 0 0 4px -3px rgba(0, 0, 0, 0.8),
              2px 2px 15px -5px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
}
