.pagina-treinamentos {
  .container-principal-treinamentos {
    margin-top: 50px;

    h2 {
      text-align: center;
      font-weight: 400;
    }
    .colunas {
      display: flex;
      flex-direction: row;

      margin-top: 50px;

      .coluna {
        display: flex;
        flex-direction: column;

        .foto-jociel {
          img {
            border-radius: 999px;
            max-width: 300px;
            max-height: 300px;
          }
        }

        .textos {
          text-align: center;

          display: flex;
          flex-direction: column;
          gap: 35px;

          div {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            gap: 20px;

            span {
              width: 60%;
              display: flex;

              text-align: justify;
            }
          }
        }
      }
    }
  }
}
