.pagina-auth {
  .card {
    max-width: 520px;
  }
}

.pagina-cadastro {
  .card-title {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1ch;
    .btn-close {
      position: absolute;
      right: 0;
      top: 50%;
      translate: 0 -50%;
    }
    .btn-back {
      background-color: transparent;
      transition: color 200ms, fill 200ms;
      padding: 0;
      margin: 0;
      line-height: 1;
      svg {
        margin: 0;
        fill: $gray-600;
        color: $gray-600;
      }
      &:hover,
      &:active,
      &:focus {
        svg {
          fill: $color-white;
          color: $color-white;
        }
      }
      &::before {
        content: none !important;
      }
    }
  }

  .cadastro-disclaimer {
    background-color: $gray-900;
    padding: 8px;
    border-radius: 8px;

    p {
      color: $gray-500 !important;
      font-size: 0.75rem;
      line-height: 1.25rem;
      margin-bottom: 8px;
    }
  }
  .cadastro-senha-info {
    border-left: 2px solid $gray-500;
    padding: 8px 10px;
    p {
      color: $gray-500 !important;
      line-height: 1rem;
    }
    .cadastro-senha-email {
      color: $color-white !important;
      font-size: 1.25rem;
    }
  }
}
.pagina-assinatura {
  .card {
    padding: 50px 0px !important;
  }
  .linha-plano {
    background-color: $gray-900;
    border: 1px solid transparent;
    border-radius: 5px;
    min-height: 60px;
    overflow: hidden;
    align-items: center;
    margin-bottom: 8px;
    transition: background-color 100ms ease;
    &:hover {
      background-color: $gray-700;
      cursor: pointer;
    }
    padding-block: 10px;
    * {
      line-height: 1;
    }
  }

  .linha-plano {
    .react-loading-skeleton {
      --base-color: #{$gray-700};
      --highlight-color: #{$gray-600};
    }
    &:hover .react-loading-skeleton {
      --base-color: #{$gray-600};
      --highlight-color: #{$gray-500};
    }
  }
  .btn-primary {
    padding: 5px, 5px;
  }
  .texto-plano {
    font-size: 1rem;
    font-weight: bold;
    line-height: 0.75rem;
  }
  .radio-plano {
    border: 2px solid $gray-500 !important;
    height: 20px;
    width: 20px;
  }
  .tabs.tabs--bordered-bottom .nav-tabs li .nav-link {
    color: $gray-500;
  }
  .tabs.tabs--bordered-bottom .nav-tabs li .nav-link.active {
    border-bottom: 5px solid $color-blue;
    color: $color-white;
  }
  .img-meio-pagamento {
    width: 45px;
  }
}

.pagina-login {
  .pagina-login__retry-aviso {
    background-color: scale-color(
      $color: map-get($map: $colors, $key: 'danger'),
      $lightness: 10%,
      $alpha: -75%
    );
    border: 1px solid map-get($map: $colors, $key: 'danger');
    box-shadow: inset 0 0 3px 0px map-get($map: $colors, $key: 'danger');
    color: $color-white;
    margin-bottom: 1rem;
    padding: 12px;
    border-radius: 4px;
    text-align: justify;
    line-height: 1.5em;
    a {
      text-decoration: none;
    }
  }
}
