.main-layout .page > .perfil-autor:first-child {
  margin-top: 0;
}

.perfil-autor {
  & > :first-child {
    margin-top: 24px;
    margin-bottom: 40px;
  }
  .perfil-autor__avatar {
    width: 150px;
    height: auto;
    border-radius: 50%;
  }
  .perfil-autor__bio {
    //mt-3 w-md-50 w-100 px-md-0 px-2 text-justify
    margin-top: 1.5rem;
    width: 100%;
    padding-inline: 1rem;
    text-align: justify;
  }
}
