.pagina-dark {
  background-color: #060606;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .logo {
    width: 150px;
    margin-bottom: 3rem;
    text-align: center;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  .form__form-group-label {
    text-align: left;
    color: $gray-200;
  }
  .card {
    background-color: #060606;
    color: $gray-200 !important;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 60px;
  }
  .texto-light {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: $gray-500 !important;
  }
  .checkbox-btn__label {
    color: $gray-500 !important;
  }
  input[type='text'],
  select,
  input[type='email'],
  input[type='password'] {
    height: 52px;
    padding: 7px 12px;
    width: 100%;
  }
  input,
  select {
    border: 1px solid transparent !important;
    background-color: $gray-900;
    border-radius: 4px;
    font-size: 15px;
    line-height: 1.53;
    color: $color-white !important;
  }
  textarea {
    background-color: $gray-900;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: $color-white;
    border: 1px solid $gray-700;
    border-radius: 4px;
    padding: 16px 20px;
    &.readonly,
    &.readonly:disabled {
      color: $gray-300;
      background-color: scale-color($color: $gray-900, $alpha: -40%);
      height: 30vh;
      min-height: 150px;
    }
    &:disabled {
      color: $gray-600;
    }
  }
  .form__form-group-button {
    background-color: $gray-900;
    height: 52px;
    border: 1px solid transparent !important;
    border-radius: 4px;
    margin-left: -5px;
  }

  .btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $color-white;
  }
  button {
    /* Menos especifico */
    margin: 0px;
    color: $color-white;
    &:not(.disabled):not(:disabled):not([disabled]) {
      &:hover,
      &:active,
      &:focus {
        color: $color-white;
      }
    }
  }

  @media screen and (min-width: 360px) and (max-width: 479px) {
    .card {
      padding: 20px 0px;
    }
    textarea {
      height: 66vh;
    }
  }
}

.pagina-estatica .pagina-estatica__conteudo {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.15;
    margin-block: 20px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.17rem;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  a,
  a:active,
  a:hover {
    text-decoration: none;
  }

  p,
  li,
  tr,
  td,
  th {
    font-size: 16px;
    color: rgb(6, 6, 6);
  }

  table {
    width: 100%;
    margin-block: 10px;
    & + * {
      margin-top: 0;
    }
  }
}
