.pagina-suspenso {
  &.pagina-dark .btn {
    text-transform: none;
    letter-spacing: normal;
  }

  .card {
    max-width: $screen-lg;
    width: 100%;
  }

  .card-body > *:not(form),
  .card-body > form > * {
    margin-bottom: 2.25rem;
  }
  .logo {
    margin-bottom: 0;
    width: 180px;
  }
  .pagina-suspenso__titulo {
    margin-top: -0.75rem;
  }
  .pagina-suspenso__desc {
    color: $color-additional;
  }
  .ElementsApp .InputElement {
    color: white;
  }
  .pagina-suspenso__acoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -0.875rem;
    .btn {
      padding-block: 0.625rem;
    }
  }
}
